body{
    font-family: 'Sawarabi Mincho', sans-serif;
    margin: 0;
}

header{
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    & .header-title{
        margin-left: 15px;
    }
    & .icon{
       margin-right: 15px;
       margin-top: 5px;
    }
}

main{
    & .main-word{
        & h1{
            margin-left: 15px;
        }
    }

    & .my-page{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;
        & .my-page-flame{
            width: 100%;
            display: flex;
            justify-content: space-around;
            & .info{
                margin-left: 100px;
                width: 300px;
                height: 150px;
                border: 2px solid black;
                border-radius: 10px;
            }
        }
    }

    & .point-flame{
        width: 250px;
        height: 70px;
        margin: 0 auto;
        margin-bottom: 100px;
        text-align: center;
        line-height: 30px;
        border: 2px solid black;
        border-radius: 10px;
    }

    & .full-movie{
        width: 55%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 100px;
        & .qualification{
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 15px;
            & img{
                width: 150px;
                // margin-right: 20px;
            }
            & a{
                width: 300px;
                margin-top: 15px;
                // margin-right: 100px;
            }
            & .goal{
                text-align: center;
                width: 300px;
                & p{
                    font-size: 20px;
                }
                & .meter{
                    width: 200px;
                }
            }
            & .point{
                white-space: nowrap;
            }
        }
    }
}