body{
    font-family: 'Sawarabi Mincho', sans-serif;
    margin: 0;
    // position: relative;
    // z-index: 100;
}

header{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    & .header-title{
        margin-left: 15px;
    }
    // & .header-btn{
    //     position: fixed;
    //     right: 20px;
    //     top: 10px;
    //     z-index: -1; 
    // }
    & .search{
        margin-top: 30px;
        & .search-form{
            width: 150px;
            height: 30px;
        }
        & i{
            cursor: pointer;
        }
    }
    & .icon{
       margin-right: 15px;
       margin-top: 5px;
       cursor: pointer;
    }
}

.swiper {
    width: 80%;
    height: 200px;
    & .swiper-slide{
        width: 100%;
        position: relative;
        & img{
            width: 100%;
            height: 100%;
        }
        & .swiper-word{
            position: absolute;
            top: 40%;
            left: 50%;
            z-index: 100;
            transform: translate(-50%,-50%);
            font-size: 24px;
            border: 1px solid black;
            border-radius: 10px;
            background-color: rgba(128, 128, 128, 0.418);
            padding: 10px;
            white-space: nowrap;
        }
    }
}

main{
    margin-top: 30px;
    text-align: center;
    & .now-watch{
        margin-bottom: 100px;
        & .my-watch{
            display: flex;
            width: 80%;
            margin: 0 auto;
            & .qualification{
                width: 100%;
                height: 250px;
                max-width: 300px;
                margin-right: 50px;
                & img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    & .ranking{
        margin-bottom: 100px;
    }

    & .recommendation{
        margin-bottom: 100px;
    }
    
    & .search-result{
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
        & a{
            font-size: 24px;
        }
    }
}


footer{
    height: 100px;
    background-color:rgba(128, 128, 128, 0.534) ;
    color: white;
    & h1{
        margin-left: 50px;
    }
}

// .inview{
//     border: 2px solid black;
//     transform: translate(-200px,50px);
//     transition: transform 1s;
// }